.radio-select {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 12px 0;
  border: none;
  background: none; }
  .radio-select:focus {
    outline: none;
    color: #007CBA; }
  .radio-select--active {
    color: #007CBA; }
    .radio-select--active g {
      fill: #007CBA !important; }
  .radio-select__label {
    margin-right: 7px;
    font-size: 14px; }

.components-placeholder__fieldset {
  justify-content: start; }

.colorpalette-color-label {
  display: flex;
  margin: 8px 0;
  align-items: center; }