<?xml version="1.0"?>
<ruleset name="WordPress coding standards">
	<config name="ignore_warnings_on_exit" value="1" /><!-- Ignore warnings for now. -->

	<file>.</file><!-- Lint all PHP files by default. -->

	<arg name="basepath" value="." /><!-- Show file paths relative to the project root. -->
	<arg name="extensions" value="php" />
	<arg name="colors" />
	<arg value="s" /><!-- Show sniff codes in all reports. -->

	<!-- Includes WordPress-Core, WordPress-Docs and WordPress-Extra rulesets. -->
	<rule ref="WordPress" />

	<!-- Include WP VIP coding standard checks -->
	<rule ref="WordPress-VIP-Go" />
	<rule ref="WordPressVIPMinimum" />

	<exclude-pattern>/node_modules/</exclude-pattern>
	<exclude-pattern>/vendor/</exclude-pattern>
	<exclude-pattern>/build/</exclude-pattern>
</ruleset>
