<phpunit
	bootstrap="./tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>

	<testsuites>
		<testsuite name="cloudinary">
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./php</directory>
			<file>cloudinary.php</file>
			<file>instance.php</file>
		</whitelist>
	</filter>
</phpunit>
