$color-green : #558b2f;
$color-success : #2a0;
$color-red : #dd2c00;
$color-light-grey : #e5e5e5;
$color-white : #fff;
$color-blue : #0071ba;
$color-orange : #fd9d2c;
$color-wp-blue : #3273ab;
$color-disabled-grey : #90a0b3;
