.settings {
	&-image {
		max-width   : 100%;
		padding-top : 5px;
	}

	&-tabs {

		> li {
			display : inline-block;

			a {
				padding : .6em;

				&.active {
					background-color : #ffffff;
				}
			}
		}
	}

	&-tab {

		&-section {
			padding   : 20px 0 0 0;
			max-width : 1030px;
			position  : relative;

			&.cloudinary-welcome & {
				&-fields {
					&-dashboard {
						display       : flex;
						align-items   : flex-start;
						align-content : flex-start;
						margin-top    : 40px;

						&-description {
							width  : 55%;
							margin : 0 auto 0 0;
						}

						&-content {
							width  : 35%;
							margin : 0 auto;

							.dashicons {
								color : #9EA3A8;
							}
						}
					}
				}

				&-card {
					margin-top : 0;
				}
			}

			&-fields {
				.field-heading {
					th {
						display   : block;
						width     : auto;
						color     : #23282d;
						font-size : 1.1em;
						margin    : 1em 0;
					}

					td {
						display    : none;
						visibility : hidden;
					}
				}

				.regular-textarea {
					width  : 100%;
					height : 60px;
				}

				.dashicons {
					text-decoration : none;
					vertical-align  : middle;
				}

				a .dashicons {
					color : #5F5F5F;
				}

				&-dashboard {
					&-error {
						font-size : 1.2em;
						color     : #5F5F5F;

						&.expanded {
							padding-top   : 40px;
							margin-bottom : 25px;
						}

						.dashicons {
							color : #AC0000;
						}

						.button {
							font-size     : 1.1em;
							height        : 40px;
							line-height   : 40px;
							padding-right : 40px;
							padding-left  : 40px;
						}
					}

					&-success {
						font-size : 1.2em;
						color     : #23282d;

						&.expanded {
							padding-top   : 40px;
							margin-bottom : 25px;
						}

						.dashicons {
							color : #4FB651;
						}

						.button {
							font-size     : 1.1em;
							height        : 40px;
							line-height   : 40px;
							padding-right : 40px;
							padding-left  : 40px;
						}

						.description {
							color       : #5F5F5F;
							font-weight : normal;
							margin-top  : 12px;
						}
					}
				}
			}

			&-card {
				box-sizing       : border-box;
				border           : 1px solid #E5E5E5;
				background-color : #FFFFFF;
				box-shadow       : 0 1px 1px 0 rgba(0, 0, 0, 0.07);
				padding          : 20px 23px;
				margin-top       : 12px;

				.dashicons {
					font-size : 1.4em;
				}

				h2 {
					font-size   : 1.8em;
					font-weight : normal;
					margin-top  : 0;
				}

				&.pull-right {
					width    : 450px;
					padding  : 12px;
					float    : right;
					position : relative;
					z-index  : 10;

					img.settings-image {
						box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.5);
						border     : 1px solid #979797;
						margin-top : 12px;
					}

					& h4, h3 {
						margin-top : 0;
					}
				}
			}

			.field-row-cloudinary_url, .field-row-signup {
				display : block;

				td, th {
					display : block;
					width   : auto;
					padding : 10px 0 0;

					.sign-up {
						vertical-align : baseline;
					}
				}
			}

			&.connect {
				.form-table {
					display   : inline-block;
					width     : auto;
					max-width : 580px;
				}
			}
		}
	}

	&-valid {
		color     : $color-green;
		font-size : 30px;

		&-field {
			border-color : $color-green !important;
		}
	}

	&-invalid {
		&-field {
			border-color : $color-red !important;
		}
	}
}

.settings-alert {
	display          : inline-block;
	padding          : 5px 7px;
	box-shadow       : 0 1px 1px rgba(0, 0, 0, .04);
}

.settings-alert-info {
	background-color : #e9faff;
	border           : 1px solid #ccd0d4;
	border-left      : 4px solid #00a0d2;
}

.settings-alert-warning {
	background-color : #fff5e9;
	border           : 1px solid #f6e7b6;
	border-left      : 4px solid #e3be38;
}

.settings-alert-error {
	background-color : #ffe9e9;
	border           : 1px solid #d4cccc;
	border-left      : 4px solid #d20000;
}

.field-radio {
	input[type=radio].cld-field {
		margin       : 0;
		margin-right : 5px;
	}

	label {
		margin-right : 10px;
	}
}

.settings-tab-section h2 {
	margin : 0;
}

.cloudinary-collapsible {
	width: 95%;
	padding: 10px;
	margin: 20px 0;
	background-color: #fff;
	border: 1px solid #ccd0d4;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-sizing: border-box;

	&__toggle {
		cursor: pointer;
		display: flex;
		justify-content: space-between;

		h2 {
			margin: 0 !important;
		}

		button {
			border: none;
			margin: 0;
			padding: 0;
			width: auto;
			background-color: inherit;
			cursor: pointer;
		}
	}
}

.cloudinary-deactivation {
	.more {
		display: none;
	}

	input[type="radio"]:checked ~ .more {
		color: #32373c;
		display: block;
		line-height: 2;
		margin-left: 2em;
		margin-top: .5em;
	}

	.modal-footer {
		background-color: #fcfcfc;
		border-top: 1px solid #ddd;
		bottom: 0;
		margin: 0 -15px;
		padding: 1em;
		position: absolute;
		width: calc(100% - 2em);

		.button-link {
			float: right;

			&:hover {
				background: transparent;
			}
		}
	}

	textarea {
		resize: none;
	}
}


/** New UI */
.settings{
	&-ui{
		&-component{
			&-tabs{
				border-bottom: 1px solid #ddd;
				&-tab{
					display: inline-block;
					padding: 12px 10px;
					text-decoration: none;
					min-width: 80px;
					text-align: center;
					&.active{
						background-color: #72777c;
						color: #fff;
					}
				}
			}

		}
		&-text{
			padding: 0 0 8px;
			input{
				margin-bottom: 20px;
			}
		}
	}
}
:root {
	--default-border: #E5E5E5;
	--accent-color: #3273AB;
	--main-green: #22AA00;
	-moz-tab-size: 4;
	tab-size: 4;
}

/** New New */
.cloudinary{

	margin: 0 -1.2rem;

	/* Padding utils */
	.p-0 {
		padding: 0 !important;
	}

	.p-1 {
		padding: 1rem;
	}

	.p-1\.5 {
		padding: 1.5rem;
	}

	.p-2 {
		padding: 2rem;
	}

	.pt-0\.5 {
		padding-top: 0.5rem;
	}

	/* Margin utils */
	.mt-0\.5 {
		margin-top: 0.5rem;
	}

	.mt-0\.75 {
		margin-top: 0.75rem;
	}

	.mt-1 {
		margin-top: 1rem;
	}

	.mt-2 {
		margin-top: 2rem;
	}

	.my-2 {
		margin: 2rem 0;
	}

	.ml-1 {
		margin-left: 1rem;
	}

	.ml-2 {
		margin-left: 2rem;
	}

	.ml-0\.5 {
		margin-left: 0.5rem;
	}

	.mr-0\.5 {
		margin-right: 0.5rem;
	}

	/* Other */
	.inline {
		display: inline;
	}

	.block {
		display: block;
	}

	.inline-block {
		display: inline-block;
	}

	.whitespace-nowrap {
		white-space: nowrap;
	}

	.w-full {
		width: 100%;
	}

	.w-1\/3 {
		width: 33.3%;
	}

	/**
	Use a better box model (opinionated).
	*/

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/**
	Use a more readable tab size (opinionated).
	*/

	/**
	1. Correct the line height in all browsers.
	2. Prevent adjustments of font size after orientation changes in iOS.
	*/


	/*
	Grouping content
	================
	*/

	/**
	1. Add the correct height in Firefox.
	2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
	*/

	hr {
		height: 0; /* 1 */
		color: inherit; /* 2 */
	}

	/*
	Text-level semantics
	====================
	*/

	/**
	Add the correct text decoration in Chrome, Edge, and Safari.
	*/

	abbr[title] {
		text-decoration: underline dotted;
	}

	/**
	Add the correct font weight in Edge and Safari.
	*/

	b,
	strong {
		font-weight: bolder;
	}

	/**
	1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
	2. Correct the odd 'em' font sizing in all browsers.
	*/

	code,
	kbd,
	samp,
	pre {
		font-family:
				ui-monospace,
				SFMono-Regular,
				Consolas,
				'Liberation Mono',
				Menlo,
				monospace; /* 1 */
		font-size: 1em; /* 2 */
	}

	/**
	Add the correct font size in all browsers.
	*/

	small {
		font-size: 80%;
	}

	/**
	Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
	*/

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sub {
		bottom: -0.25em;
	}

	sup {
		top: -0.5em;
	}

	/*
	Tabular data
	============
	*/

	/**
	1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
	2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
	*/

	table {
		text-indent: 0; /* 1 */
		border-color: inherit; /* 2 */
	}

	/*
	Forms
	=====
	*/

	/**
	1. Change the font styles in all browsers.
	2. Remove the margin in Firefox and Safari.
	*/

	button,
	input,
	optgroup,
	select,
	textarea {
		font-family: inherit; /* 1 */
		font-size: 100%; /* 1 */
		line-height: 1.15; /* 1 */
		margin: 0; /* 2 */
	}

	/**
	Remove the inheritance of text transform in Edge and Firefox.
	1. Remove the inheritance of text transform in Firefox.
	*/

	button,
	select { /* 1 */
		text-transform: none;
	}

	/**
	Correct the inability to style clickable types in iOS and Safari.
	*/

	button,
	[type='button'],
	[type='reset'],
	[type='submit'] {
		-webkit-appearance: button;
	}

	/**
	Remove the inner border and padding in Firefox.
	*/

	::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	/**
	Restore the focus styles unset by the previous rule.
	*/

	:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

	/**
	Remove the additional ':invalid' styles in Firefox.
	See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
	*/

	:-moz-ui-invalid {
		box-shadow: none;
	}

	/**
	Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
	*/

	legend {
		padding: 0;
	}

	/**
	Add the correct vertical alignment in Chrome and Firefox.
	*/

	progress {
		vertical-align: baseline;
	}

	/**
	Correct the cursor style of increment and decrement buttons in Safari.
	*/

	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}

	/**
	1. Correct the odd appearance in Chrome and Safari.
	2. Correct the outline style in Safari.
	*/

	[type='search'] {
		-webkit-appearance: textfield; /* 1 */
		outline-offset: -2px; /* 2 */
	}

	/**
	Remove the inner padding in Chrome and Safari on macOS.
	*/

	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	/**
	1. Correct the inability to style clickable types in iOS and Safari.
	2. Change font properties to 'inherit' in Safari.
	*/

	::-webkit-file-upload-button {
		-webkit-appearance: button; /* 1 */
		font: inherit; /* 2 */
	}

	/*
	Interactive
	===========
	*/

	/*
	Add the correct display in Chrome and Safari.
	*/

	summary {
		display: list-item;
	}

	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	pre {
		margin: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: inherit;
		font-weight: inherit;
	}

	ol,
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	img,
	svg,
	video,
	canvas,
	audio,
	iframe,
	embed,
	object {
		display: block;
		vertical-align: middle;
	}

	*,
	::before,
	::after {
		border-width: 0;
		border-style: solid;
		border-color: theme('borderColor.default', currentColor);
	}

	button {
		background: none;
		cursor: pointer;
	}

	button:focus {
		outline: 1px dotted;
		outline: 5px auto -webkit-focus-ring-color;
	}

	hr {
		border-top: 1px solid var(--default-border);
		margin: 1.5rem 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
	}

	h1 {
		font-size: 1.3rem;
	}

	h2 {
		font-size: 1.1rem;
	}

	a {
		color: var(--accent-color);
	}

	label {
		font-weight: bold;
		display: block;
	}

	ul li {
		text-indent: 25px;
		list-style: disc;
	}

	ol li {
		text-indent: 10px;
		margin-left: 1rem;
		list-style: decimal;
	}

	li span {
		display: block;
		margin-left: -0.5rem;
	}

	input[type='radio']:after {
		width: 17px;
		height: 17px;
		border-radius: 17px;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: #FFF;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 1px solid var(--default-border);
	}

	input[type='radio']:checked:after {
		width: 17px;
		height: 17px;
		border-radius: 17px;
		top: -2px;
		left: -2px;
		position: relative;
		background: var(--main-green);
		background: radial-gradient(circle, var(--main-green) 0%, var(--main-green) 50%, rgba(255,255,255,1) 51%);
		border: 1px solid var(--main-green);
		content: '';
		display: inline-block;
		visibility: visible;
	}

	.cld-settings {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.cld-settings__page_header {
		background-color: #FFF;
		display: flex;
		padding: 1.2rem;
		align-items: center;
	}

	.cld-tabs {
		background-color: #FFF;
		display: flex;
		border-top: 1px solid var(--default-border);
		border-bottom: 1px solid var(--default-border);
		padding: 0 1rem;
		font-family: 'Fira Sans', sans-serif;
	}

	.cld-tabs__tab {
		list-style: none;
		text-indent: 0;
		margin-bottom: 0;
	}

	.cld-tabs__tab a {
		display: block;
		padding: 1rem 2rem;
		text-decoration: none;
		font-weight: 500;
		color: #000001;
		text-align: center;
		white-space: nowrap;
	}

	@media only screen and (max-width: 600px) {
		.cld-tabs {
			flex-direction: column;
		}
	}

	.cld-tabs__tab.cld-tabs__tab--active a {
		color: var(--accent-color);
		border-bottom: 2px solid var(--accent-color);
	}

	.cld-settings__container {
		padding: 1.5rem;
		flex: 1;
	}

	.cld-settings__container:focus {
		border: none;
		outline: none;
	}

	.cld-box {
		background-color: #FFF;
		border: 1px solid var(--default-border);
		padding: 2.5rem 1.75rem;
		width: 60%;
	}

	/* Small devices */
	@media only screen and (max-width: 992px) {
		.cld-box {
			width: 100%;
		}
	}

	/* Medium devices until large */
	@media only screen and (min-width: 993px) and (max-width: 1200px) {
		.cld-box {
			width: 80%;
		}
	}

	.cld-box__header,.cld-box__page_header, .cld-box__page_footer, .cld-box__footer {
		display: flex;
	}

	.cld-box__header--split {
		justify-content: space-between;
	}

	.cld-box__header--divided {
		border-bottom: 1px solid var(--default-border);
	}

	.cld-box__footer--divided {
		border-top: 1px solid var(--default-border);
	}

	.cld-box.cld-box--inner {
		padding: 1.3rem;
		width: 100%;
	}

	.cld-box.cld-box--horizontal {
		padding: 1.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cld-box--horizontal__left {
		display: flex;
	}

	.cld-box--horizontal__left__text {
		margin-left: 2rem;
	}

	.cld-box--horizontal__left__p {
		margin-top: 0.5rem;
		width: 95%;
	}

	@media only screen and (max-width: 600px) {
		.cld-box.cld-box--horizontal {
			flex-direction: column;
			justify-content: center;
		}

		.cld-box--horizontal__left {
			flex-direction: column;
			align-items: flex-start;
		}

		.cld-box--horizontal__left__text {
			margin: 1rem 0;
		}
	}

	.cld-stat-boxes {
		display: flex;
		margin: 1em 0;
	}

	.cld-stat-boxes__box:first-child {
		border-left: 1px solid var(--default-border);
	}

	.cld-stat-boxes__box {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-top: 1px solid var(--default-border);
		border-bottom: 1px solid var(--default-border);
		border-right: 1px solid var(--default-border);
	}

	.cld-stat-boxes__box__icon {
		width: 50px;
		height: 50px;
	}

	.cld-stat-boxes__box__title {
		margin-top: 2.4rem;
		margin-bottom: 1.5rem;
		text-align: center;
	}

	.cld-stat-boxes__box__amount {
		font-size: 2rem;
		font-weight: bold;
	}

	.cld-stat-boxes__box__percent {
		font-size: 1.5rem;
		font-weight: 400;
		color: var(--accent-color);
	}

	.cld-notice {
		text-align: center;
		padding: 1.5rem;
		font-weight: bold;
	}

	.cld-notice.cld-notice--success {
		background-color: rgba(32, 184, 50, 0.2);
		border: 2px solid #20B832;
	}


	.cld-input-group {
		width: 75%;
	}
	.cld-input-group__label{
		width: 100%;
	}
	.cld-input-group__label--with-info {
		display: flex;
		align-items: center;
	}

	.cld-input-group__input-box {
		display: flex;
		align-items: center;
		margin-top: 0.6rem;
	}

	.cld-input-group__input {
		display: block;
		width: 100%;
		border: 1px solid #D0D0D0;
		border-radius: 3px;
		padding: 0.5rem;
	}

	.cld-input-group__input--small {
		width: 40%;
	}

	.cld-input-group__submit {
		margin-top: 0.75rem;
	}

	.cld-radio-group {
		display: flex;
		align-items: center;
		margin: 0.5rem 0;
	}

	.cld-radio-group__label {
		margin-left: 0.6rem;
		font-weight: 400;
		cursor: pointer;
	}

	.cld-select {
		position: relative;
	}

	.cld-select__input {
		margin-top: 0.6rem;
		display: block;
		appearance: none;
		width: 100%;
		border: 1px solid #D0D0D0;
		border-radius: 3px;
		padding: 0.5rem;
	}

	.cld-select__arrow {
		cursor: pointer;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		display: flex;
		align-items: center;
		padding: 0 0.5rem;
	}

	.cld-select__arrow svg {
		width: 1rem;
		height: 1rem;
		fill: currentColor;
	}

	.cld-toggle {
		display: flex;
		align-items: center;
	}

	.cld-toggle__input {
		position: relative;
		display: inline-block;
		width: 43px;
		height: 24px;
	}

	.cld-toggle:focus-within .cld-toggle__input__slider {}

	/* Hide default HTML checkbox */
	.cld-toggle__input input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.cld-toggle__input__slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #90A0B3;
		-webkit-transition: .4s;
		transition: 0.3s;
		border-radius: 34px;
	}

	.cld-toggle__input__slider:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: 0.3s;
		transition: .4s;
		border-radius: 50%;
	}

	input:checked + .cld-toggle__input__slider {
		background-color: var(--main-green);
	}

	input:focus + .cld-toggle__input__slider {
		box-shadow: 0 0 1px var(--main-green);
	}

	input:checked + .cld-toggle__input__slider:before {
		-webkit-transform: translateX(19px);
		-ms-transform: translateX(19px);
		transform: translateX(19px);
	}

	.cld-toggle__label {
		font-weight: 400;
		margin-top: 6px;
		margin-left: 0.75rem;
		cursor: pointer;
		white-space: nowrap;
	}

	.cld-2-columns {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 1.5rem;
	}

	.cld-2-columns__left {
		width: 60%;
		flex: 2 2 0;
		padding-right: 10px;
	}

	.cld-2-columns__right {
		width: 40%;
		flex: 1 1 0;
		align-self: flex-end;
		padding-left: 10px;
	}

	.cld-2-columns__right__box {
		padding: 0.5rem;
		background-color: rgba(216,216,216,0.5);
		border-radius: 5px;
	}

	.cld-2-columns__right__transformations {
		margin-top: 0.5rem;
		background-color: #252D35;
		border-radius: 5px;
		padding: 1rem;
		color: #FFF;
		overflow: hidden;
	}

	@media only screen and (max-width: 992px) {
		.cld-2-columns {
			display: block;
		}

		.cld-2-columns__left, .cld-2-columns__right {
			width: 100%;
			padding: 0;
		}

		.cld-2-columns__right {
			margin-top: 1rem;
		}
	}

	/* Extra small devices (phones, 600px and down) */
	@media only screen and (max-width: 600px) {

	}

	/* Small devices (portrait tablets and large phones, 600px and up) */
	@media only screen and (min-width: 600px) {

	}

	/* Medium devices (landscape tablets, 768px and up) */
	@media only screen and (min-width: 768px) {

	}

	/* Large devices (laptops/desktops, 992px and up) */
	@media only screen and (min-width: 992px) {

	}

	/* Extra large devices (large laptops and desktops, 1200px and up) */
	@media only screen and (min-width: 1200px) {

	}
}

.cld-settings__page_footer {
	background-color: #FFF;
	display: flex;
	padding: 1.2rem;
	margin: -0.2rem -1.2rem -0.5rem;
	align-items: center;
	bottom: 0;
}
